<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <div id="container">
        <header>
           <div class="header-left-container">
            <div class="site-logo">
                <img class="site-log-img" src="/static/images/header/site_logo.PNG" alt="sttusy">
            </div>
            <div class="nav-menu-button">
                <a href="">SHOP</a>
            </div>
           </div>
           <div class="header-right-container">

           </div>    
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </div>
    
</body>
</html>